# Microsoft Ignite Bearer Token
# To obtain: 
# 1. Go to https://ignite.microsoft.com
# 2. Open browser DevTools (F12)
# 3. Go to Network tab
# 4. Browse the site and look for API calls
# 5. Find the Authorization header with "Bearer " token
IGNITE_BEARER_TOKEN=your_bearer_token_here
